$primary-color: #757575;
$secondary-color: #f5f4fa;
$text-color: #212121;
$accent-color: #2196f3;
$logo-color: #000000;
$primary-light-color: #ffffff;
$icon-color: #afb1b8;
$button-focus-color: #188ce8;
$hero-bg-color: #2f303a;
$bg-color: #f5f5f5;
$header-border-color: #ececec;
$portfolio-border-color: #eeeeee;
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
