.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--hero-background-color);
  
  &__flex {
    display: flex;
    align-items: baseline;
  }
  &__box {
    width: 231px;
  }
}