.logo-footer {
    @include fontLogo;
    text-decoration: none;
    color: var(--whight-color);
  }
  .logo-footer__text {
    font-family: $fontfamilyRaleway, sans-serif;
    color: var(--accent-color);
  }