.logo-footer {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--whight-color);
  }
  .logo-footer__text {
    font-family: "Raleway", sans-serif;
    color: var(--accent-color);
  }