
.logo {
    font-family: $fontfamilyRaleway;
    @include fontLogo;
    text-decoration: none;
    color: var(--logo-color);
  }
  
  .logo__accent {
    font-family: $fontfamilyRaleway;
    @include fontLogo;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }