.nav {
  margin-left: 93px;
}

.nav__main-list {
  display: flex;
}
.nav__item {
  margin-left: 50px;
}
.nav__items {
  margin-left: 0px;
}
.nav__link.current {
  color: var(--accent-color);
}

.nav__main-list a {
  position: relative;
  @include type(500, 14px, 1.14, 0.02em);

  text-decoration: none;

  margin-top: 0px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__main-list a:hover,
.nav__main-list a:focus {
  color: var(--accent-color);
}

.nav__link.current:after {
  content: "";
  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);

  bottom: 0px;
}

/* CONTACT NAV  */

.nav__main-contact {
  display: flex;
  margin-left: auto;
}
.nav__main-contact .nav__item-contact + .nav__item-contact {
  margin-left: 50px;
}
.nav__main-contact a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.nav__item-contact {
  margin: 0 auto;
}

.nav__main-contact .nav__link-contact {
  display: flex;
  align-items: center;
}
.nav__icon-contact {
  fill: var(--primary-text-color);
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus .nav__icon-contact,
  &:hover .nav__icon-contact {
    fill: var(--button-secondary-color);
  }
}
